// Набор шрифтов
$primeryFont: 'Inter', sans-serif;
$secondaryFont: 'Oswald', sans-serif;

// Цвета шрифтов
$primeryFontColor: #0E0E0E;
$secondaryFontColor: #FFFFFF;

// Палитра цветов
$primeryBgColor: #FFFFFF;
$secondaryBgColor: #0E0E0E;
